# Environment variables
.env
.env.*
*/.env
*/.env.*

# IDE and editor files
.vscode/
.history/
.cursorrules
.cursorignore

# Virtual environments
.venv/
.venv*/

# Other
node_modules/
dist/
*.log

recovered_files/